---
layout: base
external_url: href="www.jakeschoolmeesters.com"
---

<div class="main">
  <a href="/code">
    <div class="section-left">
      <h2>Development</h2>
      <div class="icon-container">
        {% include code.svg %}
      </div>
    </div>
  </a>
  <div class="section-middle">
    <!-- <div class="logo-large"> -->
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101.46 277.65">
        <defs>
        <style>.cls-1{fill:#ef392e;}.cls-2{fill:#faed2d;}.cls-3{fill:#4ec9f5;}.cls-4{fill:#00ad5f;}.cls-5{fill:#f78d28;}</style>
      </defs>
      <polygon class="cls-1" points="0 122.11 4.88 23.68 68.54 0 60.21 99.35 0 122.11"/>
      <polygon class="cls-2" points="91 75.55 29 99.05 15.33 200.39 67 180.89 91 75.55"/>
      <polygon class="cls-3" points="38.98 180.18 101.46 156.33 35.55 277.65 38.98 180.18"/>
      <polygon class="cls-4" points="67 180.89 69.85 168.09 38.82 180.01 38.62 191.6 67 179.89"/>
      <polygon class="cls-5" points="61.26 86.83 60.21 99.35 27.28 111.8 29 99.05 61.26 86.83"/>
    </svg>
  <!-- </div> -->
  </div>
  <!-- <a href="/design"> -->
  <a {{ site.external_url }} target="_blank">
    <div class="section-right">
      <h2>Art Direction and Design</h2>
      <div class="icon-container">
        {% include design.svg %}
      </div>
    </div>
  </a>

</div>
